@model PartialViewASPCore.Models.Product

<div class="card" style="width: 18rem;">
    <img src="@Model.Image" asp-append-version="true" class="card-img-top" alt="@Model.ProductName">
    <div class="card-body">
        <h5 class="card-title">@Model.ProductName</h5>
        <p class="card-text">@Model.Discription</p>
        <p class="card-text">@Model.Price.ToString("C")</p>
        <a href="#" class="btn btn-primary">View Product</a>
    </div>
</div>
